<div>
    <div id="credentials">
        <div id="inputs">
            <div class="data-in" id="username">
                <input type="text" placeholder="Enter your username">
            </div>
            <div class="data-in" id="room-name">
                <input type="text" placeholder="Enter room name">
            </div>
        </div>
        <div id="info">
            This room is last updated at 22.12.1998 and currently has 20 users.
        </div>
    </div>
    <div id="content"> </div>
</div>
