.app {
    position: relative;
    height: 100%;
    width: 100%;

    display: flex;
}

#basic-data {
    padding: 20px;
    position: fixed;
    z-index: 1000;
    margin: 5px;
    background-color: transparent;

    left: 50%;
    bottom: 0px;
    transform: translateX(-50%);
}

#basic-data input {
    padding: 9px;
    margin: 0px 5px;

    text-align: center;

    color: #616161;
    background-color: white;
    outline: none;
    border: 2px solid lightgrey;
}

#content {
    flex-grow: 1;
}
